
.play-board{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    transition: all 0.35s ease;
}

.play-board.show{
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}

.players{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.players span{
    /*background-color: tomato;*/
    width: 100%;
    text-align: center;
    font-size: 22px;
    border-radius: 10px;
    cursor: default;
    font-weight: medium;
    padding: 10px 0px;
    position: relative;
    z-index: 5;
    color: white;
    transition: all 0.4s ease;
}

.players span:nth-child(1){
    color: white;
}

.players.activeO span:nth-child(1){
    color: rgb(60, 63, 247);
}

.players.activeO span:last-child{
    color: white;
}

.players.activeO .slider{
    left: 50%;
}

.players.activeX span:nth-child(2){
    color: rgb(60, 63, 247);
}

.details{
    background-color: white;
    border-radius: 8px;
    padding: 15px;
}

.players .slider{
    position: absolute;
    background-color: rgb(60, 63, 247);
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    z-index: 2;
    transition: all 0.30s ease;
}

.play-area{
    margin-top: 30px;
}

.play-board section{
    display:flex;
}
.play-board section span{
    display: block;
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 2px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 70px;
    z-index: 5;
    color: rgb(60, 63, 247);
    position: relative;
}

.play-board section span i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}