
.play-board{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.players{
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: relative;
}

.players span{
    /*background-color: tomato;*/
    width: 100%;
    text-align: center;
    font-size: 22px;
    border-radius: 10px;
    cursor: default;
    font-weight: medium;
    padding: 10px 0px;
    position: relative;
    z-index: 5;
    color: rgb(60, 63, 247);
}

.players span:nth-child(1){
    color: white;
}

.details{
    background-color: white;
    border-radius: 8px;
    padding: 15px;
}

.players .slider{
    position: absolute;
    background-color: rgb(60, 63, 247);
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    z-index: 2;
}

.play-area{
    margin-top: 30px;
}

.play-board section{
    display:flex;
}
.play-board section span{
    display: block;
    background-color: white;
    width: 100px;
    height: 100px;
    margin: 2px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 85px;
    text-align: center;
}