
.select-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px 25px 25px 25px;
    border-radius: 10px;
    max-width: 380px;
    width: 100%;
}

.select-box header{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 3px;
    border-bottom: 2px solid gray;
}

.select-box .title{
    font-size: 17px;
    font-weight: medium;
    margin: 20px 0;
}

.select-box .options{
    display: flex;
}

.options button{
    width: 100%;
    border: none;
    background-color: aqua;
    color: green;
    font-weight: bold;
    cursor: pointer;
    font-size: 18px;
    border-radius: 8px;
    padding: 8px 0px;
    transition: all 0.35s ease;
}

.options button:hover{
    transform: scale(0.9);
}

.playerX{
    margin-right: 6px;
}

.playerO{
    margin-left: 6px;
}